---
import Layout from '../../layouts/Layout.astro'
import Dayjs from 'dayjs'
import {
  getCategories,
  getNovels,
  getIllustraitons,
  Category,
  Illust,
  Novel,
} from '../../library/microcms'

export async function getStaticPaths() {
  const response = await getCategories({ fields: ['id'] })
  return response.contents.map((content: Category) => ({
    params: {
      categoryId: content.id,
    },
  }))
}

const { categoryId } = Astro.params
const novelList = await getNovels({
  filters: `category[equals]${categoryId}`,
})
const illustList = await getIllustraitons({
  filters: `category[equals]${categoryId}`,
})
---

<Layout title='My first blog with Astro'>
  <section>
    <h2>illustrations</h2>
    <ul class='illustList'>
      {
        illustList.contents.map((content: Illust) => (
          <li>
            <img src={content.illust.url} alt={content.title} />
          </li>
        ))
      }
    </ul>
  </section>
  <section class='novelSection'>
    <h2>novels</h2>
    <ul class='novelList'>
      {
        novelList.contents.map((content: Novel) => (
          <li>
            <h3>
              <a href={`/novels/${content.id}`}>{content.title}</a>
            </h3>
            <p>{content.abstract}</p>
            <p class='pubDate'>
              {Dayjs(content.publishedAt).format('YYYY年M月D日')}
            </p>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style lang='scss'>
  h2 {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  .illustList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    li {
      border: 2px #123123 solid;
      &:hover {
        border-color: #999999;
      }

      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
    }
  }
  .novelSection {
    margin-top: 40px;

    .novelList {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 32px;
      li {
        p {
          margin: 0;
          margin-bottom: 0.25rem;
        }
        h3 {
          margin: 0;
          margin-bottom: 0.5rem;
          a {
            font-size: 1.4rem;
          }
        }
        .pubDate {
          font-size: 0.8rem;
          color: #3c3c3c;
        }
      }
    }
  }
</style>
